resources/configuration/development.yml
resources/configuration/staging.yml
resources/configuration/production.yml
resources/certificates/
resources/requests/http/http-client.private.env.json
resources/strategies/*
resources/logs/
resources/temporary/

*.iml
__pycache__/
.idea